In [3]:
import pandas as pd
import os
import json
import mysql.connector

## Aggregarted_Insurance
### Getting Data from /data/Aggregrated/Insurance

In [5]:
path_1 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/aggregated/insurance/country/india/state/' #1. Get path of particular folder where data exist
agg_ins_list = os.listdir(path_1) # 2. List the directories in the path 
skl_data_1 = {'state' : [],'year' : [],'quarter': [],'transaction_type':[],'transaction_count' : [], 'transaction_amount': []} # 3. Create a empty dict to insert values that we get from data

for state in agg_ins_list: # 4. Loop the process for below folders
    curr_path = path_1  + state + '/'
    year_list = os.listdir(curr_path)
    #print(year_list)
    
    for year in year_list:
        curr_year = curr_path + year + '/'
        file_list = os.listdir(curr_year)
        #print(file_list)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file) # ! Open and load json file
            A = json.load(data)
            
            for item in A['data']['transactionData']:
                name = item['name']
                count = item['paymentInstruments'][0]['count']
                amount = item['paymentInstruments'][0]['amount']
                skl_data_1['state'].append(state) #6. Append it to the skeleton dataframe
                skl_data_1['year'].append(year)
                skl_data_1['quarter'].append(int(file.strip('.json')))
                skl_data_1['transaction_type'].append(name)
                skl_data_1['transaction_amount'].append(amount)
                skl_data_1['transaction_count'].append(count)
aggr_ins_df = pd.DataFrame(skl_data_1)
aggr_ins_df['state'] = aggr_ins_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
aggr_ins_df['state'] = aggr_ins_df['state'].str.replace('-' ,' ') 
aggr_ins_df['state'] = aggr_ins_df['state'].str.title()
aggr_ins_df['state'] = aggr_ins_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Aggregarted_Transactions

### Getting Data from /data/Aggregrated/Transactions

In [6]:
path_2  =  "/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/aggregated/transaction/country/india/state/" # 1. Get path
agg_trans_list = os.listdir(path_2) # 2. List the directories in the path 
#print(agg_state_list)
skl_data_2 = {'state' : [],'year' : [],'quarter': [],'transaction_type':[],'transaction_count' : [], 'transaction_amount': []} # 3. Create a empty dict to insert values that we get from data

for state in agg_trans_list: # 4. Loop the process for below folders
    curr_path = path_2  + state + '/'
    year_list = os.listdir(curr_path)
    #print(year_list)
    
    for year in year_list:
        curr_year = curr_path + year + '/'
        file_list = os.listdir(curr_year)
        #print(file_list)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file) # ! Open and load json file
            B = json.load(data)
            
            for item in B['data']['transactionData']: # 5. From Json file select the requried data
                name = item['name']
                count = item['paymentInstruments'][0]['count']
                amount = item['paymentInstruments'][0]['amount']
                
                skl_data_2['state'].append(state) #6. Append it to the skeleton dataframe
                skl_data_2['year'].append(year)
                skl_data_2['quarter'].append(int(file.strip('.json')))
                skl_data_2['transaction_type'].append(name)
                skl_data_2['transaction_amount'].append(amount)
                skl_data_2['transaction_count'].append(count)
                

aggr_trans_df = pd.DataFrame(skl_data_2)
aggr_trans_df['state'] = aggr_trans_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
aggr_trans_df['state'] = aggr_trans_df['state'].str.replace('-' ,' ') 
aggr_trans_df['state'] = aggr_trans_df['state'].str.title()
aggr_trans_df['state'] = aggr_trans_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Aggregarted_User

### Getting Data from /data/Aggregrated/User

In [7]:
path_3 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/aggregated/user/country/india/state/'
agg_user_list = os.listdir(path_3)
skl_data_3 = dict(state = [],year = [], quarter = [], brand = [],transaction_count = [],percentage = [] )


for state in agg_user_list:
    curr_state = path_3 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            C = json.load(data)
            
            try:
                for item in C['data']['usersByDevice']:
                    brand_name = item['brand']
                    count = item['count']
                    percentage = item['percentage']
                    skl_data_3['state'].append(state)
                    skl_data_3['year'].append(year)
                    skl_data_3['quarter'].append(int(file.strip('.json')))
                    skl_data_3['brand'].append(brand_name)
                    skl_data_3['transaction_count'].append(count)
                    skl_data_3['percentage'].append(percentage)
            except Exception as err:
                #print(err)
                pass

aggr_user_df = pd.DataFrame(skl_data_3)
aggr_user_df['state'] = aggr_user_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
aggr_user_df['state'] = aggr_user_df['state'].str.replace('-' ,' ') 
aggr_user_df['state'] = aggr_user_df['state'].str.title()
aggr_user_df['state'] = aggr_user_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Map_Insurance

### Getting Data from /data/Map/Insurance

In [8]:
path_4 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/map/insurance/hover/country/india/state/'
map_ins_list = os.listdir(path_4)
skl_data_4 = dict(state = [],year = [], quarter = [], district = [],transaction_count = [],transaction_amount = [] )
for state in map_ins_list:
    curr_state = path_4 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            D = json.load(data)
            
            for item in D['data']['hoverDataList']:
                distr_name = item['name']
                count = item['metric'][0]['count']
                amount = item['metric'][0]['amount']
                skl_data_4['state'].append(state)
                skl_data_4['year'].append(year)
                skl_data_4['quarter'].append(int(file.strip('.json')))
                skl_data_4['district'].append(distr_name)
                skl_data_4['transaction_count'].append(count)
                skl_data_4['transaction_amount'].append(amount)
            
map_ins_df = pd.DataFrame(skl_data_4)
map_ins_df['state'] = map_ins_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
map_ins_df['state'] = map_ins_df['state'].str.replace('-' ,' ') 
map_ins_df['state'] = map_ins_df['state'].str.title()
map_ins_df['state'] = map_ins_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Map_Transaction

### Getting Data from /data/Map/Transaction

In [9]:
path_5 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/map/transaction/hover/country/india/state/'
map_trans_list = os.listdir(path_5)
skl_data_5 = dict(state = [],year = [], quarter = [], district = [],transaction_count = [],transaction_amount = [] )
for state in map_trans_list:
    curr_state = path_5 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            E = json.load(data)
            
            for item in E['data']['hoverDataList']:
                distr_name = item['name']
                count = item['metric'][0]['count']
                amount = item['metric'][0]['amount']
                skl_data_5['state'].append(state)
                skl_data_5['year'].append(year)
                skl_data_5['quarter'].append(int(file.strip('.json')))
                skl_data_5['district'].append(distr_name)
                skl_data_5['transaction_count'].append(count)
                skl_data_5['transaction_amount'].append(amount)
            
map_trans_df = pd.DataFrame(skl_data_5)
map_trans_df['state'] = map_trans_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
map_trans_df['state'] = map_trans_df['state'].str.replace('-' ,' ') 
map_trans_df['state'] = map_trans_df['state'].str.title()
map_trans_df['state'] = map_trans_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Map_User

### Getting Data from /data/Map/User

In [10]:
path_6 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/map/user/hover/country/india/state/'
map_user_list = os.listdir(path_6)
skl_data_6 = dict(state = [],year = [], quarter = [], district = [], registered_users  = [],app_opens = [] )
for state in map_user_list:
    curr_state = path_6 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            F = json.load(data)
            
            for item in F['data']['hoverData'].items():
                distr_name = item[0] 
                reg_user_count = item[1]['registeredUsers']         
                app_opens = item[1]['appOpens']
                skl_data_6['state'].append(state)
                skl_data_6['year'].append(year)
                skl_data_6['quarter'].append(int(file.strip('.json')))
                skl_data_6['district'].append(distr_name)
                skl_data_6['registered_users'].append(reg_user_count)
                skl_data_6['app_opens'].append(app_opens)

map_user_df = pd.DataFrame(skl_data_6)
map_user_df['state'] = map_user_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
map_user_df['state'] = map_user_df['state'].str.replace('-' ,' ') 
map_user_df['state'] = map_user_df['state'].str.title()
map_user_df['state'] = map_user_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

In [11]:
map_user_df

,state,year,quarter,district,registered_users,app_opens
0,Andaman & Nicobar Islands,2022,1,north and middle andaman district,10720,904869
1,Andaman & Nicobar Islands,2022,1,south andaman district,63487,2368756
2,Andaman & Nicobar Islands,2022,1,nicobars district,2081,573782
3,Andaman & Nicobar Islands,2022,2,north and middle andaman district,11379,963824
4,Andaman & Nicobar Islands,2022,2,south andaman district,66959,3404740
...,...,...,...,...,...,...
17563,Nagaland,2018,4,tuensang district,1261,0
17564,Nagaland,2018,4,peren district,710,0
17565,Nagaland,2018,4,dimapur district,22603,0
17566,Nagaland,2018,4,zunheboto district,1099,0
17567,Nagaland,2018,4,wokha district,1391,0

## Top_Insurance

### Getting Data from /data/Top/Insurance

In [12]:
path_7 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/top/insurance/country/india/state/'
top_ins_list = os.listdir(path_7)
skl_data_7 = dict(state = [],year = [], quarter = [], pincode = [], transaction_count  = [],transaction_amount = [] )
for state in top_ins_list:
    curr_state = path_7 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            G = json.load(data)
            
            for item in G['data']['pincodes']:
                pincode = item['entityName']
                count = item['metric']['count']
                amount = item['metric']['amount']
                skl_data_7['state'].append(state)
                skl_data_7['year'].append(year)
                skl_data_7['quarter'].append(int(file.strip('.json')))
                skl_data_7['pincode'].append(pincode)
                skl_data_7['transaction_count'].append(count)
                skl_data_7['transaction_amount'].append(amount)

top_ins_df = pd.DataFrame(skl_data_7)
top_ins_df['state'] = top_ins_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
top_ins_df['state'] = top_ins_df['state'].str.replace('-' ,' ') 
top_ins_df['state'] = top_ins_df['state'].str.title()
top_ins_df['state'] = top_ins_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Top_Transaction

### Getting Data from /data/Top/Transaction

In [13]:
path_8 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/top/transaction/country/india/state/'
top_trans_list = os.listdir(path_8)
skl_data_8 = dict(state = [],year = [], quarter = [], pincode = [], transaction_count  = [],transaction_amount = [] )
for state in top_trans_list:
    curr_state = path_8 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            H = json.load(data)
            
            for item in H['data']['pincodes']:
                pincode = item['entityName']
                count = item['metric']['count']
                amount = item['metric']['amount']
                skl_data_8['state'].append(state)
                skl_data_8['year'].append(year)
                skl_data_8['quarter'].append(int(file.strip('.json')))
                skl_data_8['pincode'].append(pincode)
                skl_data_8['transaction_count'].append(count)
                skl_data_8['transaction_amount'].append(amount)

top_trans_df = pd.DataFrame(skl_data_8)
top_trans_df['state'] = top_trans_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
top_trans_df['state'] = top_trans_df['state'].str.replace('-' ,' ') 
top_trans_df['state'] = top_trans_df['state'].str.title()
top_trans_df['state'] = top_trans_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Top_User

### Getting Data from /data/Top/User

In [14]:
path_9 = '/Users/allen/Documents/Py VE/PhonePe Project/pulse/data/top/user/country/india/state/'
top_user_list = os.listdir(path_9)
skl_data_9 = dict(state = [],year = [], quarter = [], pincode = [], registered_users  = [])
for state in top_user_list:
    curr_state = path_9 + state + '/' 
    year_list = os.listdir(curr_state)
    
    for year in year_list:
        curr_year = curr_state + year + '/'
        file_list = os.listdir(curr_year)
        
        for file in file_list:
            curr_file = curr_year + file
            data = open(curr_file)
            I = json.load(data)
            
            for item in I['data']['pincodes']:
                pincode = item['name']
                reg_user_count = item['registeredUsers']         
                
                skl_data_9['state'].append(state)
                skl_data_9['year'].append(year)
                skl_data_9['quarter'].append(int(file.strip('.json')))
                skl_data_9['pincode'].append(pincode)
                skl_data_9['registered_users'].append(reg_user_count)
               

top_user_df = pd.DataFrame(skl_data_9)
top_user_df['state'] = top_user_df['state'].str.replace('andaman-&-nicobar-islands', 'Andaman & Nicobar Islands')
top_user_df['state'] = top_user_df['state'].str.replace('-' ,' ') 
top_user_df['state'] = top_user_df['state'].str.title()
top_user_df['state'] = top_user_df['state'].str.replace('Dadra & Nagar Haveli & Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu')

## Table Creation

In [15]:
#Table Creation

#SQL connection
myDb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Aa12345678!',
    database = 'phonepe_visualization'
)
myCursor = myDb.cursor()

In [16]:
#CREATE TABLE Queries
def create_tables():
    create_query_1 = '''CREATE TABLE IF NOT EXIST aggregrated_insurance(
        state VARCHAR(255),
        year INT,
        quarter INT,
        transaction_type VARCHAR(255),
        transaction_count BIGINT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_1)
    myDb.commit()

    create_query_2 = '''CREATE TABLE IF NOT EXIST aggregrated_transaction(
        state VARCHAR(255),
        year INT,
        quarter INT,
        transaction_type VARCHAR(255),
        transaction_count BIGINT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_2)
    myDb.commit()

    create_query_3 = '''CREATE TABLE IF NOT EXIST aggregrated_user(
        state VARCHAR(255),
        year INT,
        quarter INT,
        brand VARCHAR(255),
        transaction_count BIGINT,
        percentage LONG
        )'''
    myCursor.execute(create_query_3)
    myDb.commit()

    create_query_4 = '''CREATE TABLE IF NOT EXIST map_insurance(
        state VARCHAR(255),
        year INT,
        quarter INT,
        district VARCHAR(255),
        transaction_count BIGINT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_4)
    myDb.commit()

    create_query_5 = '''CREATE TABLE IF NOT EXIST map_transaction(
        state VARCHAR(255),
        year INT,
        quarter INT,
        district VARCHAR(255),
        transaction_count BIGINT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_5)
    myDb.commit()

    create_query_6 = '''CREATE TABLE IF NOT EXIST map_user(
        state VARCHAR(255),
        year INT,
        quarter INT,
        district VARCHAR(255),
        registered_users BIGINT,
        app_opens BIGINT
        )'''
    myCursor.execute(create_query_6)
    myDb.commit()

    create_query_7 = '''CREATE TABLE IF NOT EXIST top_insurance(
        state VARCHAR(255),
        year INT,
        quarter INT,
        pincode VARCHAR(255),
        transaction_count INT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_7)
    myDb.commit()

    create_query_8 = '''CREATE TABLE IF NOT EXIST top_transaction(
        state VARCHAR(255),
        year INT,
        quarter INT,
        pincode VARCHAR(255),
        transaction_count INT,
        transaction_amount BIGINT
        )'''
    myCursor.execute(create_query_8)
    myDb.commit()

    create_query_9 = '''CREATE TABLE IF NOT EXIST top_user(
        state VARCHAR(255),
        year INT,
        quarter INT,
        pincode VARCHAR(255),
        registered_users BIGINT
        )'''
    myCursor.execute(create_query_9)
    myDb.commit()

ProgrammingError: 1050 (42S01): Table 'aggregrated_insurance' already exists

In [ ]:
def insert_table_values():
    insert_query_1 = '''INSERT INTO aggregrated_insurance
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = aggr_ins_df.values.tolist()
    myCursor.executemany(insert_query_1,values)
    myDb.commit()

    insert_query_2 = '''INSERT INTO aggregrated_transaction
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = aggr_trans_df.values.tolist()
    myCursor.executemany(insert_query_2,values)
    myDb.commit()

    insert_query_3 = '''INSERT INTO aggregrated_user
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = aggr_user_df.values.tolist()
    myCursor.executemany(insert_query_3,values)
    myDb.commit()

    insert_query_4 = '''INSERT INTO map_insurance
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = map_ins_df.values.tolist()
    myCursor.executemany(insert_query_4,values)
    myDb.commit()

    insert_query_5 = '''INSERT INTO map_transaction
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = map_trans_df.values.tolist()
    myCursor.executemany(insert_query_5,values)
    myDb.commit()

    insert_query_6 = '''INSERT INTO map_user
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = map_user_df.values.tolist()
    myCursor.executemany(insert_query_6,values)
    myDb.commit()

    insert_query_7 = '''INSERT INTO top_insurance
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = top_ins_df.values.tolist()
    myCursor.executemany(insert_query_7,values)
    myDb.commit()

    insert_query_8 = '''INSERT INTO top_transaction
    VALUES (%s,%s,%s,%s,%s,%s)'''
    values = top_trans_df.values.tolist()
    myCursor.executemany(insert_query_8,values)
    myDb.commit()

    insert_query_9 = '''INSERT INTO top_user
    VALUES (%s,%s,%s,%s,%s)'''
    values = top_user_df.values.tolist()
    myCursor.executemany(insert_query_9,values)
    myDb.commit()

In [2]:
aggr_user_df

NameError: name 'aggr_user_df' is not defined

In [ ]:
create_tables()
insert_table_values()

state                  object
year                   object
quarter                 int64
transaction_type       object
transaction_count       int64
transaction_amount    float64
dtype: object

In [17]:
aggr_ins_df.to_csv('agg_ins.csv',index=False)
aggr_trans_df.to_csv('agg_trans.csv',index=False)
aggr_user_df.to_csv('agg_user.csv',index=False)
map_ins_df.to_csv('map_ins.csv',index=False)
map_trans_df.to_csv('map_trans.csv',index=False)
map_user_df.to_csv('map_user.csv',index=False)
top_ins_df.to_csv('top_ins.csv',index=False)
top_trans_df.to_csv('top_trans.csv',index=False)
top_user_df.to_csv('top_user.csv',index=False)

Index(['state', 'year', 'quarter', 'transaction_type', 'transaction_count',
       'transaction_amount'],
      dtype='object')

In [5]:
a = pd.read_csv('/includes/aggr_user.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'aggr_user.csv'